@media screen and (max-width: 790px)
{
	body{
		background-color: blue;
	}
	.details h1,p
	{
		margin-top: 20px;
	}
	.post .post-title{
		margin-top: -30px;
		text-align: center;
	}
	.post .profile-picture{
		text-align: center;
	}
	.post .profile-picture img{
		width: 40%;
	}
	.pagination li a{
		padding: 0px;
	}
	.navbar-right{
		text-align: center;
	}
}
@media screen and (max-width: 1000px)
{
	body{
		background-color: blue;
	}
	.details h1,p
	{
		margin-top: 20px;
	}
	.post .post-title{
		margin-top: -30px;
		text-align: center;
	}
	.post .profile-picture{
		text-align: center;
	}
	.post .profile-picture img{
		width: 40%;
	}
	.pagination li a{
		padding: 0px;
	}
	.navbar-right{
		text-align: center;
	}
}