
*{
	padding: 0px;
	margin-top: 0px;
}
body
{
	
font-family: 'Raleway', sans-serif;
background-color: grey;
}
.logo-text{
	color: red;
	font-size: 20px;
}
.nav-item
{
	color:skyblue;
}
.jumbotron-div
{
	height: 150px;
	
	background-image: url("../img/jumbotron-background.jpg");
	background-repeat: no-repeat;
	width: 100%;
	color: white;

	padding: 0px;
	margin:0px;
	
}
.jumbotron-heading
{
color: red;
}
.left-side
{
	margin-top: 20px;
}
.post
{
	background-color: white;
	border: 1px solid black;
	margin-top: 20px;

}
.post .post-date{
	padding: 20px;
	text-align: center;
	
}
.post-date .day
{
	font-size: 30px;
	color: red;
}
.post-date .month,.post-date .year
{
	font-size: 18px;
	
}
.post-date .year
{
	font-weight: 100;
}
.post .post-title 
{
	padding: 20px;
	border-left: 1px solid red;

}
.post .post-title >a>h2 
{
	color: red;
	
}
.post .post-title span
{
	color: red;
	font-weight: 100;
	margin-left: 
}
.post .profile-picture 
{
	padding: 20px;
}
.post .profile-picture img
{
	width: 80%;
}

.post >a > img
{
	width: 100%;
	margin-top: -10px;
}

.post .description
{
	font-family: arial;
	font-weight: 100;
	padding: 15px;
	line-height: 20px;
	word-spacing: 1px;
}
.post >.btn {
	margin: 20px;
	background-color: red;
}
.post .bottom
{
	padding: 20px;
	border-top: 1px solid black;
}

.post .bottom .category-span
{
	margin-right: 20px;
}
.post .bottom .comments-span
{
	margin-left: 20px;
}

nav#pagination
{
	text-align: center;
}
nav#pagination  li a
{
	color: red;
	padding: 15px;
	
}
nav#pagination  li a:hover
{
	background-color: red;
	color: white;
}







.search-bar
{
	margin-top: 20px;
}

.navbar
{
	margin-bottom: 0px;
}
section .popular
{
	background: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
	border:2px solid yellow;
}
section .popular-text
{
	margin-bottom: 10px;
}
.popular h4 a
{
	color: black;
}
.popular img
{
	width: 100%;
	margin-top: 10px;
}
.popular p
{
	font-family: arial;
	font-size: 11px;
}
.categories
{
	background-color: white;
	margin-top: 10px;
	padding: 10px;
}
.categories ul li
{
	list-style-type: none;

}

.more-icons
{
	margin-top: 0px;
	background-color: white;

}
.snapchat-icon
{
	margin-left:10px;
}




footer
{
	background-color: black;
	line-height: 44px; 
	height: 50px;
	color: white;
	letter-spacing: 2px;
}
footer a
{
	color: red;
}
footer a:hover
{
	color: red;
	text-decoration: none;
}



/*contact us styling*/




#map{
	height: 500px;
	width: 100%;
}
.Contact-form{
	background-color: white;
	padding: 25px;
	margin: 20px;
}
.submit{
	margin-top: 10px;
}
.Contact-form h2
{
	color: red;
	text-align: center;
}
.Contact-form textarea
{
	resize: none;
}
/*posts page styles are written here*/


.related-posts
{
	background-color: white;
	padding: 20px;
	margin-bottom: 15px;

}
.related-posts img
{
	width: 100%;
}
.related-posts h2
{
	color: red;
	padding: 20px;
}
.author
{
	background-color: white;
	padding: 20px;
	margin-bottom: 15px;
	text-align: center;

}
.author h2
{
	color: red;
	text-align: center;
	margin-bottom: 30px;
}
.author img
{
	
	width: 70%;
}
.author p
{
	font-weight: 100;
}
.comments
{
	background-color: white;
	padding: 	20px 30px;
}
.comments img
{
	
	width: 100%;
	margin:20px 0px 0px 10px;
}
.comments h3
{
	
	margin 20px;
	color: red;
}
.comments h4 
{
	color: red;
	margin 20px;
}
.comments-form
{
	background-color: white;
	padding: 20px 10px;
	margin: 10px 0px 0px 0px;
	resize: none;
}