
html
{
	height: 100%;
	width: 100%;
}

body
{
	padding-top: 80px;
	height: 100%;
	width: 100%;
}

.left-portion
{
	margin: 20px
}
.huge
{
	font-size: 40px;
}
.panel-primary
{
	border: 2px solid #2fa4e7;
}
.tag-boxes .panel-red
{
	color:white;
	background-color: red;
}
.tag-boxes .panel-green
{
	color:white;
	background-color:green;
}
.tag-boxes .panel-orange
{
	color:white;
	background-color: orange;
}
footer
{
	background-color:#04498c;
	color: white;
	height: 50px;
	line-height: 50px;
	
	bottom: 0;
	width: 100%;
}
#wrapper
{
	min-height: 100%;
	position: relative;

}
.body-section
{
	padding: 20px;
}